 table {
  border-collapse: collapse;
  width: 100%;
  overflow-y: scroll;
  text-align:center;
}

th {
  padding: 6px;
  font-size: 15px;
  border-right: 1px solid #000000;
}
div.tablecontent table thead tr th{
  text-align: center;
  justify-items: center;
  /* justify-content: center; */
}
tr{
  width: 100% !important;
}
td{
  padding:8px;
  font-size: 15px;
}
td a{
  display:block;
}

thead {
  background-color: #fdfdfd;
  border: 1px solid #000000;
}

hr {
 margin:0 !important;
 background-color: #000000 !important;
 height: 2px !important;
}
.maincontent {
  margin-left: 15px;
  /* margin-top: 15px; */
  /* padding-top: 15px; */
  margin-right: 15px;
  margin-bottom: 35px;
}
.maincontent .main_header {
  margin-bottom: 20px;
}
.tablecontent {
  margin-top: 20px;
  /* overflow-x:scroll; */
}
::-webkit-scrollbar {
  height: 0px;
  width: 8px;
}
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
.table thead th {
  vertical-align: middle;
  border: 2px solid #dee2e6;
  /* border-bottom: 2px solid #dee2e6; */
}
table.table-bordered.dataTable th:first-child, table.table-bordered.dataTable th:first-child, table.table-bordered.dataTable td:first-child, table.table-bordered.dataTable td:first-child {
  border-left-width: 1px;
  border-left-color: #dee2e6;
}
/* table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
  
} */
.table tbody tr:last-child td, .table tbody tr:last-child th {
  border-bottom-width: 1px;
}
table.table-bordered.dataTable thead tr:first-child th, table.table-bordered.dataTable thead tr:first-child td {
  border-right-width: 0.5px;
}

div.dataTables_scrollHeadInner{
  width: 100% !important;
}

table.table.table-striped.table-bordered.responsive.nowrap.no-footer.dataTable {
    width: 100% !important;
}
/* td.table-cell-edit{
  background-color: rgb(255 106 37);
}
table.dataTable thead {
  background-color:blue
}
th.no-sort.sorting_disabled.dtfc-fixed-left{
  background-color:blue
} */
.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 4px 11px;
  font-size: 16px;
  border-radius:5px 5px 5px 5px;
  cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: #bbb;
}

@media (max-width:1366px) {
  div.dataTables_scrollHead{
    width: 101.11%;
  }
  div.dataTables_scrollBody{
    /* overflow: visible !important; */
  }
  
}
@media (max-width:1024px) {
  div.dataTables_scrollHead{
    width: 100%;
  }
  div.dataTables_scrollBody{
    overflow: auto !important;
  }
  
}
